## Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor division
** power
% modulus

In [1]:
5 + 7

12

In [2]:
5.0 + 2.7

7.7

In [3]:
"Muhammad " + " Qasim"

'Muhammad  Qasim'

In [4]:
['1','2'] + ['A',"B"]

['1', '2', 'A', 'B']

In [5]:
('1','2') + ('A',"B")

('1', '2', 'A', 'B')

In [7]:
{"A":'1',"B":'2'} + {"X":'A',"Z":"B"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [8]:
{"A","B"} + {1,2}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
20 - 2

18

In [10]:
25.2 - 2.7

22.5

In [13]:
{3,7,8} - {2,3,8}

{7}

In [14]:
[3,7,8] - [2,3,8]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
3 * 2

6

In [15]:
"A" * 3

'AAA'

In [16]:
["A","B"] * 2

['A', 'B', 'A', 'B']

In [17]:
{"A","B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [18]:
2 ** 3

8

In [20]:
12 / 3

4.0

In [21]:
12 / 3.0

4.0

In [22]:
12.0 / 3

4.0

In [23]:
11 / 3

3.6666666666666665

In [24]:
11 // 3

3

        3
 3  ________
___|   11   |___
       9
     ______
        2    # Modulus

In [25]:
11 % 3

2

In [26]:
18 % 5

3

# Comparison (Relational) Operators

== equal
>  grather then
<  less then
>= grather then equal
<= less then equal
!= not equal
<> not equal

In [27]:
"Qasim"  ==  "qasim"

False

In [28]:
'qasim' == "qasim"

True

In [29]:
2 == 2.0

True

In [30]:
a = 2
b = 2

a == b
# 2 == 2
# True

True

In [31]:
2 == '2'

False

In [32]:
6 > 10

False

In [33]:
10 > 6

True

In [34]:
10 > 10

False

In [35]:
10 >= 10

True

In [36]:
11 >= 10

True

In [37]:
10 > 9

True

In [38]:
"A" > "B"

False

In [39]:
"B" > "A"

True

In [53]:
chr(66) > chr(65)

True

65=A -> 90=Z
97=a -> 122=b
48=0 -> 57=9

In [51]:
chr(48)

'0'

In [42]:
ord("A")

65

In [54]:
3 < 6

True

In [55]:
2 <= 3

True

In [56]:
'qasim' != "Qasim"

True

In [57]:
2 != 2

False

In [58]:
2 <> 2

SyntaxError: invalid syntax (<ipython-input-58-3be57c68feb7>, line 1)

In [59]:
"2" <> "2"

SyntaxError: invalid syntax (<ipython-input-59-58cd19590351>, line 1)

# Assignment Operators

= 
+=
-=
*=
**=
/=
//=
%=

In [60]:
a = 5
print(5)

5

In [61]:
a = 5
a = 6
a = 7
a = 8
print(a)

8

In [63]:
a = 1
a = a + 2 # 1 + 2 = 3
a = a + 3 # 3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

10

In [64]:
a = 1
a += 2
a += 3
a += 4
print(a)

10

In [65]:
a = 100
a -= 2 # 98
a -= 3 # 95
a -= 4 # 91
print(a)

91

In [66]:
a = 1
a *= 2 # 2
a *= 3 # 6
a *= 4 # 24
print(a)

24

In [67]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [68]:
a = 100
a //= 2
a //= 2
print(a)

25

In [70]:
a = 2
a **= 2 # 4 = 2 x 2
a **= 2 # 16 = 4 x 4
print(a)

16

In [71]:
a = 2
a **= 3 # 8 = 2 x 2 X 2
a **= 3 # 512 = 8 x 8 x 8
print(a)

512

In [72]:
a = 21
a %= 5
print(a)

1

In [74]:
a = "A"
a *= 3
print(a)

AAA

In [76]:
a = "A"
a += "B" # "A" + "B" = "AB"
a += "C" # "AB" + "C" = "ABC"
print(a)

ABC

# Logical Operators

and = &
or = |
not !=, <>

In [79]:
user = "Qasim"
password = 123

print(user == "Qasim") 
#     "Qasim"=="Qasim" True

print(password==123)
#     123 == 123 # True

True
True

In [80]:
True  and True and True and True

True

In [81]:
True  and True and False and True

False

In [82]:
True  & True & True & True

True

In [83]:
True  & True & False & True

False

In [87]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a=="A") & (b=="B") & (c=="C") & (d=="D"))
#     "A"=="A" & "B"=="B" & "C"=="C" & "D"=="D"
#       True    &    True  &    True   &     True
#                        True


print(a=="A" and b=="B" and c=="C" and d=="D")

True
True

In [88]:
True or True or False or True or True

True

In [89]:
True | True | False | True | True

True

In [91]:
user = input("User Name")
password = input("Password")

user == "Qasim" or \
user == "Admin" or \
user =="Abc" and \
password=="123"

User NameQasim
Password333

True

In [93]:
user = input("User Name")
password = input("Password")

(user == "Qasim" or user == "Admin" or user =="Abc") \
and password=="123"

User NameQasim
Password123

True

In [94]:
not(True)

False

In [95]:
not(False)

True

In [99]:
not (True & True)

False

# Bitwise Operators

8,  7,  6,  5,  4,  3,  2,  1, 0
2,  2,  2,  2,  2,  2,  2,  2, 2
=================================
256,128,64, 32, 16, 8,  4,   2, 1

11101 = 29
1+4+8+16= 29
11100 = 28


Example:
    10011
    
    Right
    1          1
    1          2
    1          16
               19

And

11101 = 29
11100 = 28

11101 
11100 
------
11100  = 28

In [101]:
28 & 29

28

In [105]:
ord("A") & ord("B")

64

10101
00101
_____
00101

OR |

11101 = 29
11100 = 28

11101 
11100 
------
11101  = 29

In [106]:
29 | 28

29

XOR |

11101 = 29
11100 = 28

11101 
11100 
------
00001 = 1

In [108]:
28 ^ 29

1

In [110]:
~2

-3

In [112]:
#11101
29<<2
#1110100

116

In [113]:
#11101
29>>2
#00111

7

In [ ]:
11001
1100100
00110