# List

In [4]:
# list[element1, element2,element3]
#      0     1       2
l1 = [123, "Qasim","A.I"]
#     -3      -2    -1

#list[index] Get value from list
l1

[123, 'Qasim', 'A.I']

In [18]:
l1[0]

123

In [19]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

d1

{'id': 5,
 'name': 'Qasim',
 'course': 'A.I',
 'admission date': '2019-12-15',
 'DOB': '01-01-2000'}

In [22]:
# dict[key]

d1['DOB']

'01-01-2000'

In [23]:
d1['DOB'] = '02-02-2000'
d1

{'id': 5,
 'name': 'Qasim',
 'course': 'A.I',
 'admission date': '2019-12-15',
 'DOB': '02-02-2000'}

In [17]:
d1 = {}

d1['id']=1
d1["name"]="Ali"
d1["course"]="A.I"

d1

{'id': 1, 'name': 'Ali', 'course': 'A.I'}

# Task1
# Store id, name and skill in dictionary with input function

In [12]:
information = {} # empty dictionary
user_id = input("Enter your ID")
information['id'] = user_id

name = input("Enter Your Name")
information['name'] = name


skills = input("Enter your skill with',' seprated value")
information['skills']=skills.split()

Enter your ID1
Enter Your NameABC
Enter your skill with',' seprated valueA,B,C,E,F

In [15]:

information = {} # empty dictionary
user_id = input("Enter your ID")
information['id'] = user_id

name = input("Enter Your Name")
information['name'] = name

information['skills']=["Python"]


skills = input("Enter your skill with',' seprated value")
information['skills']=information['skills']+skills.split(',')
information

Enter your ID1
Enter Your NameABC
Enter your skill with',' seprated valuea,b,c

{'id': '1', 'name': 'ABC', 'skills': ['Python', 'a', 'b', 'c']}

In [24]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

d1

{'id': 5,
 'name': 'Qasim',
 'course': 'A.I',
 'admission date': '2019-12-15',
 'DOB': '01-01-2000'}

In [25]:
d1.clear()
d1

{}

In [26]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

print(d1)
del d1
print(d1)

{'id': 5, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}

NameError: name 'd1' is not defined

In [29]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

print(d1)
?dict.copy

{'id': 5, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}

In [31]:
d2 = d1.copy()
d2["id"] = 10
print(d1)
print(d2)

{'id': 5, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}
{'id': 10, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}

In [32]:
#item = key:value

d1 = {}
d1['id']=None
d1['name']=None
d1['course']=None
d1

{'id': None, 'name': None, 'course': None}

In [34]:
l1 = ['id','name','course','timing','address', 'DOB']
print(l1)

d1 = dict.fromkeys(l1)
print(d1)

['id', 'name', 'course', 'timing', 'address', 'DOB']
{'id': None, 'name': None, 'course': None, 'timing': None, 'address': None, 'DOB': None}

In [40]:
l1 = input("Entery comma seprated value")
l1 = l1.split(",")
print(l1)

d1 = dict.fromkeys(l1,"NAN")
print(d1)

Entery comma seprated valuea,b,c,d,e,f,g,h
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
{'a': 'NAN', 'b': 'NAN', 'c': 'NAN', 'd': 'NAN', 'e': 'NAN', 'f': 'NAN', 'g': 'NAN', 'h': 'NAN'}

In [46]:
l1 = ['a','b','c']
l2 = ['x','y','z']
#d1 = {a:x, b:y, c:z}
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)
#dict([('a',"x"), ('b','y'), ('c','z')])

[('a', 'x'), ('b', 'y'), ('c', 'z')]
{'a': 'x', 'b': 'y', 'c': 'z'}

In [47]:
# l1 = input("keys")
# l1 = l1.split(",")


l1 = input("keys").split(",")
l2 = input("values").split(",")

#d1 = {a:x, b:y, c:z}
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)
#dict([('a',"x"), ('b','y'), ('c','z')])

keysa,b,c
valuesx,y,z
[('a', 'x'), ('b', 'y'), ('c', 'z')]
{'a': 'x', 'b': 'y', 'c': 'z'}

In [50]:
d1['a']
d1['c']
d1['z']

KeyError: 'z'

In [56]:
print(d1)
print(d1.get('h')) # if key available then extract it. error will not generate
print(d1.get('i',"Value is not available"))
print(d1)

{'a': 'x', 'b': 'y', 'c': 'z'}
None
Value is not available
{'a': 'x', 'b': 'y', 'c': 'z'}

In [57]:
print(d1)
d1.items()

{'a': 'x', 'b': 'y', 'c': 'z'}

dict_items([('a', 'x'), ('b', 'y'), ('c', 'z')])

In [59]:
print(d1)
d1.keys()

{'a': 'x', 'b': 'y', 'c': 'z'}

dict_keys(['a', 'b', 'c'])

In [60]:
print(d1)
d1.values()

{'a': 'x', 'b': 'y', 'c': 'z'}

dict_values(['x', 'y', 'z'])

In [61]:
print(d1)
d1.pop('a') #value

{'a': 'x', 'b': 'y', 'c': 'z'}

'x'

In [64]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1.popitem())
print(d1)

('c', 'z')
{'a': 'x', 'b': 'y'}

In [71]:
print(d1)
print(d1.setdefault('abc1','xyz'))
d1['abc']='pakistan'
print(d1)

{'a': 'x', 'b': 'y', 'abc': None, 'abc1': 'xyz'}
xyz
{'a': 'x', 'b': 'y', 'abc': 'pakistan', 'abc1': 'xyz'}

In [72]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1)

{'a': 'x', 'b': 'y', 'c': 'z'}

In [73]:
d1 = {'a':'AA','b':'BB'}

d2 = {'a':"AAAA", 'c':'CCCC'}

d1.update(d2)
d1

{'a': 'AAAA', 'b': 'BB', 'c': 'CCCC'}

In [74]:
d1 = {'a':'AA','b':'BB'}
d1

{'a': 'AA', 'b': 'BB'}

In [94]:
d1 = {'a':1, 'b':2, 'c':3, 'd':5,'e':4,'f':6}

In [84]:
d1 = {'a':1, 'b':2, 'c':3, 'd':5,'e':4,'f':6}
d2 = d1.values()
print(sorted(d2, reverse=True))

[6, 5, 4, 3, 2, 1]

In [93]:
d1.clear()
k=['d', 'b','c','a']
v=[4,2,3,1]
l1=zip(k,v)
l1=list(l1)
d1
#for i in range(0,len(l1)):
    #d1[k[i]]=v[i]
#d1

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [100]:
d1 = {'a':1, 'b': 5 , 'c':3 }
list1 = list(d1.keys())
slist = sorted(list1, reverse = True)
nDict = {}
for i in slist:
    nDict[i] = d1[i]
nDict

{'c': 3, 'b': 5, 'a': 1}

In [101]:
d1 = {'a':1, 'b': 5 , 'c':3 }

In [102]:
{k:v for k,v in sorted(d1.items(), key= lambda item: item[1])}

{'a': 1, 'c': 3, 'b': 5}

a 1
b 5
c 3

In [110]:
def get_first_item(item):
    return item[1]

In [111]:
get_first_item((0,1))

1

In [131]:
d1 = {'a':1, 'b': 5 , 'c':3 }
d2 = {}
for k, v in (sorted(d1.items(), key=lambda x:x[1], reverse=True)):
    d2[k]=v
print(d2)

{'b': 5, 'c': 3, 'a': 1}

In [133]:
d1 = {'a':1, 'b': 5 , 'c':3 }
dict(sorted(d1.items(), key=lambda x:x[1], reverse=True))

{'b': 5, 'c': 3, 'a': 1}

In [113]:
list(d1.items())

[('a', 1), ('b', 5), ('c', 3)]

In [114]:
l1 =[('A',0,'z'),
('C',1,'y'),
(('B',3,'x'))]

In [125]:
def abc(x):
    return x[2]

sorted(l1 , key=abc)

[('B', 3, 'x'), ('C', 1, 'y'), ('A', 0, 'z')]

In [ ]:
[{'id':none, 'name':none, skills=[a,bc]},
 {'id':none, 'name':none, skills=[a,bc]},
 {'id':none, 'name':none, skills=[a,bc]},
 {'id':none, 'name':none, skills=[a,bc]},
] 
x->exit

print(list)

In [135]:
lst=[] # simple list to store all student data -> list of dicts
x='' # initialize the exit command with empty string
while x != 'x': 
    dict1={} # dict to store student info
    # create an entry for every value you'd want to store
    # in the student dict
    dict1['id']=input('please enter your id: ') # id  
    dict1['name']=input('please enter your name: ') # name 
    skills=input('enter your skills') # comma separated skills
    dict1['skills']=skills.split()
    lst.append(dict1) # append to "lst"
    x=input('please enter x to exit: ') # if x 
lst

please enter your id: 1
please enter your name: aamir
enter your skillspython c# c++
please enger xto exit: y
please enter your id: 2
please enter your name: abdullah
enter your skillspython
please enger xto exit: x

[{'id': '1', 'name': 'aamir', 'skills': ['python', 'c#', 'c++']},
 {'id': '2', 'name': 'abdullah', 'skills': ['python']}]