In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
df = pd.read_csv('data\weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [2]:
X = df[["Weight"]]
Y = df[["Height"]]
X.head(2)

       Weight
0  241.893563
1  162.310473

In [4]:
def line(x,w=0,b=0):
    return w * x + b #Like a line

def mean_squared_error(y_true,y_pred):
    s = (y_true - y_pred) ** 2
    return np.sqrt(s.mean())

y_true = Y

plt.pyplot.figure(figsize=(10,5))
axl  = plt.subplot(121)
df.plot(kind='scatter',x='Weight',y='Height',title="Weights vs Heights",ax=ax1)

bs = np.array([-100,-50,-25,0,25,50,100,150])

mses =[]#Mean Square Error
for b in bs:
    y_pred = line(X,w=2,b=b)
    mse = mean_squared_error(y_true,y_pred)
    mses.append(mse)
    plt.plot(x,y_pred)
    
ax2 = plt.subplot(122)
plt.plot(bs,mses,'o-')
plt.title("Cost Function")
plt.xlabel("B")

AttributeError: module 'matplotlib' has no attribute 'pyplot'

In [5]:
%matplotlib

Using matplotlib backend: TkAgg

In [7]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print(x[:2])
print(y_prep[:2])

X.shape

ModuleNotFoundError: No module named 'tensorflow'

In [8]:
model = Sequential()

#model Structure
model.add(Dense(1, input_shape=(1,)))

model.summary()

NameError: name 'Sequential' is not defined

In [ ]:
model.compile(Adam(lr=0.8), "mean_squared_error")
model.fit(X, y_true, epochs=40)

In [ ]:
y_pred = model.predict(X)
y_pred

In [ ]:
df.plot(kind="scatter", x="Height", y="Weight", title="H vs W with Deep Learning")
plt.plot