In [5]:
import pandas as pd
pd.Series(['123123.12',3,21.3,12,.3,21.,3.12,3123])

0    123123.12
1            3
2         21.3
3           12
4          0.3
5           21
6         3.12
7         3123
dtype: object

In [7]:
sales = pd.Series([100,200,100,400])
sales.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
sales = pd.Series([100,200,100,400],index = ['a','b','c','d'])
sales.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
sales

a    100
b    200
c    100
d    400
dtype: int64

In [11]:
sales = pd.Series([100,200,100,400],index = ['a','b','c','d'])
sales

a    100
b    200
c    100
d    400
dtype: int64

In [13]:
pd.array([1,2,3,4,5,'6'])

<PandasArray>
['1', '2', '3', '4', '5', '6']
Length: 6, dtype: str352

In [6]:
# movies = [("Star Wars",1970),("Jedi",2020),("Clone Wars",2002),("Avengers",2032),("Messi",2010),("Ronaldo",2011),("Gandhi",2000),("Goal",2003),]
# [title[0] for title in movies if title[1] >= 2000]
import numpy as np
%time range(1000000)
%time np.arange(1000000)
%time pd.Series(1000000)

Wall time: 0 ns
Wall time: 3.96 ms
Wall time: 0 ns

0    1000000
dtype: int64